:root {
    --floor-height: 150px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 70px);
}

.function_buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
    padding: 1.5rem 0;

    position: sticky;
    top: 0;
    left: 0;
    background: var(--bg-black);
}

.function_buttons button {
    font-size: 1.125rem;
    background: var(--neutral-800);
}

.floors_wrapper {
    margin: 0 0 2rem;
}

.floor {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--neutral-800);
    height: var(--floor-height);
}

.floor__buttons {
    padding: 1rem 0;
    margin-right: 4rem;
}

.floor__buttons button {
    min-width: 5rem;
    margin: 0.75rem 0;
    background: var(--neutral-800);
}

.lift_container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.lift {
    position: relative;
    width: 100px;
    height: 150px;
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-800);
    transition: 2.25s cubic-bezier(0.65, 0.05, 0.36, 1);
    overflow: hidden;
}

.lift__door {
    content: "";
    position: absolute;
    top: 0;

    width: 50%;
    height: 100%;
    background-color: #71797e;
    border: 2px solid var(--neutral-800);
    transition: 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.lift__door.left {
    left: 0;
}

.lift__door.right {
    right: 0;
}

.lift__door.left.open {
    transform: translateX(-100%);
}

.lift__door.right.open {
    transform: translateX(100%);
}
